img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  padding: 10px;
  margin: 50px;
  opacity: 0.7;
}

img:hover {
  opacity: 1;
}

p {
  font-size: 36px;
  padding: 20px;
  margin: 30px;
}
